<app-centered-container [vertical]="false">
  <mat-card class="action-bar">
    <h2 class="title">Duplicates ({{resolvedDuplicates()}}/{{duplicates.length}})</h2>
    <mat-spinner [diameter]="20" *ngIf="!(duplicateService.done$ | async)"></mat-spinner>
    <span class="spacing"></span>
    <mat-slide-toggle [(ngModel)]="showResolved" color="primary">{{showResolved ? 'Show Resolved' : 'Hide Resolved'}}</mat-slide-toggle>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let duplicate of findDuplicatesToDisplay(); let index = index" #panel (opened)="selectedIndex = index"
        [expanded]="selectedIndex === index" [id]="'panel-' + index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Duplicate
          <mat-icon *ngIf="duplicate.resolved" class="title-check-icon">check</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="panel.expanded">
        <app-gallery (next)="next()" (previous)="previous()" [showDeletedImages]="true" [gallery]="toGallery(duplicate)" [duplicateMode]="true"></app-gallery>
        <div class="button-bar" *ngIf="!duplicate.resolved">
          <button mat-raised-button color="primary" (click)="resolveDuplicate(duplicate)">Mark As Resolved</button>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</app-centered-container>
