<app-centered-container [vertical]="false">
  <mat-card class="action-bar">
    <h2 class="title">Duplicates ({{resolvedDuplicates()}}/{{duplicates.length}})</h2>
    <mat-slide-toggle [(ngModel)]="showResolved" color="primary">{{showResolved ? 'Show Resolved' : 'Hide Resolved'}}</mat-slide-toggle>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let duplicate of findDuplicatesToDisplay(); let index = index" #panel (opened)="opened(resolve, index)"
        [expanded]="selectedIndex === index" [id]="'panel-' + index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Duplicate
          <mat-icon *ngIf="duplicate.resolved" class="title-check-icon">check</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="panel.expanded">
        <app-image-grid [ids]="duplicate.files" (imageClick)="toggleImageDeletion($event)"></app-image-grid>
      </ng-container>
      <div class="button-bar duplicate-button-bar">
        <button mat-raised-button (click)="markAllForDeletion(duplicate, false)">Keep All (A)</button>
        <button mat-raised-button (click)="markAllForDeletion(duplicate, true)">Delete All (D)</button>
        <button mat-raised-button (click)="resolveDuplicate(duplicate)" color="primary" #resolve>Mark as resolved</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <p>
    <app-spinner *ngIf="! (duplicateService.done$ | async)"></app-spinner>
  </p>
</app-centered-container>
