.duplicate-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .duplicate {
    padding: 2rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  .title {
    margin: 0 1rem 0 0;
  }

  .spacing {
    flex: 1;
  }
}

.title-check-icon {
  font-size: .9rem;
  margin-left: .5rem;
}
