$navigation-height: 80px;

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $navigation-height;
}

.outlet {
  position: absolute;
  top: $navigation-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
