/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: white; }

.button-bar {
  text-align: right;
  margin-top: 1rem;

  button:not(:last-child) {
    margin-right: .5rem;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 10px;
}
