.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex !important;
  flex-direction: column;
}

.mat-horizontal-content-container {
  flex: 1;

  .mat-horizontal-stepper-content {
    height: 100%;
  }
}
