<app-centered-container [vertical]="false">
  <mat-card class="action-bar">
    <h2 class="title">Galleries</h2>
    <mat-slide-toggle [(ngModel)]="showDeleted" color="primary">{{showDeleted ? 'Show Deleted' : 'Hide Deleted'}}</mat-slide-toggle>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let gallery of galleries; let index = index" #panel [expanded]="selectedIndex === index"
      (opened)="selectedIndex = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{gallery.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-gallery *ngIf="panel.expanded" [gallery]="gallery" [showDeletedImages]="showDeleted"
        (next)="nextGallery()" (previous)="previousGallery()"></app-gallery>
    </mat-expansion-panel>
  </mat-accordion>
  <p>
    <app-spinner *ngIf="! (galleriesService.done$ | async)"></app-spinner>
  </p>
</app-centered-container>
