.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  .title {
    margin: 0;
  }

  .gallery-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .add-gallery {
    flex: 1;
    margin-left: 1rem;

    .mat-form-field {

    }
  }
}
