<app-centered-container [vertical]="false">
  <mat-card class="action-bar">
    <h2 class="title">Galleries</h2>
    <mat-slide-toggle [(ngModel)]="showDeleted" color="primary">{{showDeleted ? 'Show Deleted' : 'Hide Deleted'}}</mat-slide-toggle>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let trip of trips; let index = index" #panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{trip.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="panel.expanded">
        <app-gallery-name-form [gallery]="trip"></app-gallery-name-form>
        <div class="image-grid">
          <ng-container *ngFor="let image of (getImages(trip) | async)">
            <div *ngIf="! image.toDelete || showDeleted">
              <app-image [id]="image.id" (click)="toggleImageDeletion(image)"></app-image>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  <p>
    <app-spinner *ngIf="! (galleriesService.done$ | async)"></app-spinner>
  </p>
</app-centered-container>
