<nav class="navigation">
  <a routerLink="/"><h1 class="title">Image Organizer</h1></a>
  <ng-container *ngIf="processService.started$ | async">
    <div class="nav-links">
      <a routerLink="/duplicates" routerLinkActive="active">
        Duplicates
        <app-spinner class="spinner" *ngIf="!(duplicateService.done$ | async)"></app-spinner>
      </a>
      <a routerLink="/galleries" routerLinkActive="active">
        Galleries
        <app-spinner class="spinner" *ngIf="!(galleriesService.done$ | async)"></app-spinner>
      </a>
    </div>
    <button mat-raised-button color="primary" (click)="end()">Done</button>
  </ng-container>
</nav>
