<mat-card class="gallery-header" *ngIf="! duplicateMode">
  <app-gallery-menu (select)="moveSelectionTo($event)"></app-gallery-menu>
  <app-gallery-name-form [gallery]="gallery"></app-gallery-name-form>
</mat-card>
<div class="image-grid">
  <ng-container *ngFor="let image of (images$ | async); let index = index">
    <div [class.selected]="isSelected(index)" (click)="selectedIndex = index; selectedIndexes = [index]" [id]="'image-' + index">
      <app-image [id]="image.id"></app-image>
    </div>
  </ng-container>
</div>
