.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  .title {
    flex: 1;
    margin: 0;
  }
}

.drag-placeholder {
  background-color: lighten(#303030, 5%);
}

.change-trip-name {
  min-width: 400px;
  width: 100%;
}
