<app-centered-container [vertical]="false">
  <mat-card class="action-bar">
    <h2 class="title">Trips</h2>
  </mat-card>
  <mat-accordion #accordion cdkDropListGroup>
    <mat-expansion-panel *ngFor="let trip of trips; let index = index" #panel cdkDropList (cdkDropListDropped)="drop(trip, $event)"
                         [cdkDropListData]="trip.files">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{trip.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="panel.expanded">
        <div class="image-grid">
          <app-image *ngFor="let image of trip.files; let imageIndex = index" [image]="image" cdkDrag [cdkDragData]="imageDragData(trip, image, imageIndex)"></app-image>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  <p>
    <app-spinner *ngIf="! (tripService.done$ | async)"></app-spinner>
  </p>
</app-centered-container>
